:root {
  border-radius: 5px;
  font-family: Arial, sans-serif;
  padding: 5px 5px;
  color-scheme: light dark;
}

h3 {
  margin-top: 10px;
}

.user_input {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 3px 3px 10px 3px;
  padding: 3px 7px;
}

#user_data {
  width: 12rem;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}

#user_data div {
  font-size: 0.85rem;
}

.form_btn {
  width: 80px;
}

.btn_container {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0 3px;
  display: flex;
  justify-content: space-between;
}

.form_btn {
  width: 100%;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
  border: none;
  background-color: #b2dfdb;
  padding: 5px 7px;
  color: #3a3a3a;
}

.form_btn:hover {
  background-color: #80cbc4;
  cursor: pointer;
}

.form_btn:disabled {
  background-color: #ccc;
  cursor: default;
}

.vertical_separator {
  margin: 10px 15px;
  width: 1px;
  height: 14.5rem;
  background-color: #ccc;
}

.right_pannel {
  display: flex;
  flex-direction: column;
  min-width: 14rem;
  padding: 5px 4px;
  justify-content: space-between;
  min-height: 15.5rem;
}

/* Style the tab */

.tab {
  border-radius: 7px;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  display: flex;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 14px;
  transition: 0.3s;
  border-radius: inherit;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: light-dark(#ddd, rgba(61, 117, 152, 0.68) );
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: light-dark(rgb(191, 219, 226), rgb(69, 138, 181));
}

/* Style the tab content */
#tabcontent {
  padding: 6px 2px;
}

#dateSelector {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px 7px;
  margin  auto;
  /* min-width: 10rem; */
  max-width: 10.5rem;
}

.timeslot {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.timeslot p{
  font-size: 0.8rem;
  min-width: 8rem;
}

.timeslot button {
  border-radius: 5px;
  border: none;
  background-color: #b2dfdb;
  color: #3a3a3a;
  padding: 5px 15px;
  min-width: 5.5rem;
  height: fit-content;
}

.timeslot button:hover {
  background-color: #80cbc4;
}

.bookBtn {
  background-color: #b5dfb2 !important;
}

.bookBtn:hover {
  background-color: #80c98c !important;
}

.cancelledBtn {
  background-color: rgba(202, 202, 202, 0.58) !important;
}

.cancelledBtn:hover {
  background-color: rgba(202, 202, 202, 0.58) !important;
}

.feedback{
  display: flex;
  font-size: 0.8rem;
  justify-content: end;
  align-items: center;
  margin-bottom: 2px;
}

.feedback a {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  text-decoration: none;
  color: #3a3a3a;
}


/* HTML: <div class="loader"></div> */

#loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --c: #d0d0d0 90%, #0200;
  background: radial-gradient(circle closest-side at left 6px top 50%, var(--c)),
    radial-gradient(circle closest-side, var(--c)),
    radial-gradient(circle closest-side at right 6px top 50%, var(--c));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}
@keyframes l4 {
  to {
    width: 25px;
    aspect-ratio: 1;
  }
}

@media (prefers-color-scheme: dark){
  :root {
    background-color:rgb(28, 28, 28);
    color: #f1f1f1;
  }
  .user_input, #dateSelector{
    border: 1px solid rgb(103, 103, 103);
    background-color: #343434;
    color: #f1f1f1;
  }
  .tab{
    background-color: #343434;
  }
  .vertical_separator {
    background-color: rgb(103, 103, 103);
  } 
  .feedback{
    filter: invert(1);
  }
  #savebutton {
    
  }
  .clear-btn {
    filter: invert(1);
  }
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.clear-btn {
  background-color: transparent; /* light-dark(white, rgb(28, 28, 28)); */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.clear-btn:hover {
}